@page "{id:int}"
@model MovieNight.Pages.MoviePageModel
@{
    @if (Model.LoggedInUser != null)
    {
        Layout = "_LayoutLoggedIn";
    }
    ViewData["Title"] = Model.Movie.Title;
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/MoviePage.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="movie-page">
        <div class="movie-header">
            <div class="header-content">
                <h1 class="movie-title">@Model.Movie.Title</h1>
                <div class="movie-subtitle">
                    <span class="original-title">Original title: @Model.Movie.Title   |</span>
                    <span class="bubble">@Model.Movie.Year</span>
                    <span class="bubble">Movie</span>
                    <span class="bubble">@Model.Movie.Length min</span>
                </div>
            </div>
        </div>

        <main class="movie-main">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="poster-container">
                            <img src="@Model.Movie.ImageLink" alt="@Model.Movie.Title" class="movie-poster">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="trailer-container">
                            <iframe class="movie-trailer" src="@Model.Movie.TrailerLink" title="@Model.Movie.Title"
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <aside class="movie-sidebar">
            <div class="movie-content">
                <div class="movie-description-and-actions">
                    <div class="movie-description">
                        <p>@Model.Movie.Description</p>
                        <div class="movie-details">
                            <div class="movie-detail">Director: @Model.Movie.Director</div>
                            <div class="movie-detail">
                                Rating: @if (Model.MovieRating == 0)
                                {
                                    @:No rating yet
                                }
                                else
                                {
                                    @:@Model.MovieRating/5
                                }@if (Model.MovieRates == 1)
                                {
                                    @:(@Model.MovieRates vote)
                                }
                                else if(Model.MovieRates != 0)
                                {
                                    @:(@Model.MovieRates votes)
                                }
                            </div>
                            <div class="movie-detail">Country: @Model.Movie.Country</div>
                            <div class="movie-detail">Category: @Model.Movie.Category</div>
                            <div class="movie-detail">Year: @Model.Movie.Year</div>
                        </div>
                    </div>
                    <div class="movie-actions">
                        <div class="row">
                            <div class="col-sm-7">
                                <!-- Star Rating System -->
                                <div class="rate-label">Your Rating:</div>
                                <form method="post" asp-page-handler="Rate" asp-route-movieId="@Model.Movie.Id" id="ratingForm">
                                    <div class="rating">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            <input type='radio' hidden name='rating' id='rating_@i' value="@i"
                                            @(ViewData["UserRating"] as int? == i ? "checked" : "")
                                                   onclick="document.getElementById('ratingForm').submit();">
                                            <label for='rating_@i'></label>
                                        }
                                    </div>
                                </form>
                                @if (Model.IsRated)
                                {
                                    <form method="post" asp-page-handler="DeleteRate" asp-route-movieId="@Model.Movie.Id">
                                        <button type="submit" title="Delete" class="delete-rating-button">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                }
                            </div>
                            <div class="col-sm-4">
                                <!-- Favourites Button -->
                                <form method="post" asp-page-handler="ToggleFavourites" asp-route-movieId="@Model.Movie.Id">
                                    <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                                    <button type="submit" class="button watchlist-button">
                                        @Model.FavouritesButtonText
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- Watchlist Button -->
                        <form method="post" asp-page-handler="ToggleWatchLater" asp-route-movieId="@Model.Movie.Id">
                            <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                            <button type="submit" class="button watchlist-button">
                                @Model.WatchLaterButtonText
                            </button>
                        </form>
                        <form method="post" asp-page-handler="ToggleWatching" asp-route-movieId="@Model.Movie.Id">
                            <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                            <button type="submit" class="button currently-watching-button">
                                @Model.WatchingButtonText
                            </button>
                        </form>
                        <form method="post" asp-page-handler="ToggleFinished" asp-route-movieId="@Model.Movie.Id">
                            <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                            <button type="submit" class="button finished-button">
                                @Model.FinishedButtonText
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="comment-section">
                <h3>Comments</h3>
                <form method="post" asp-page-handler="Comment" asp-route-movieId="@Model.Movie.Id">
                    <textarea asp-for="CommentLeft" placeholder="Leave a comment... "></textarea>
                    <input type="submit" value="Post Comment" class="button comment-button" style="background-color: rgb(117, 54, 112); color: white;"/>
                </form>

                <!-- Display comments -->
                @foreach (var comment in Model.Comments)
                {
                    <div class="comment">
                        <div class="comment-header">
                            <a href="" class="comment-user">@comment.Username</a>
                            <span class="comment-date">@comment.CommentDate.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="comment-body">@comment.Information</div>
                        @if (Model.CanDeleteComment(comment.UserId))
                        {
                            <form method="post" asp-page-handler="DeleteComment" asp-route-id="@Model.Movie.Id" asp-route-commentId="@comment.Id">
                                <button type="submit" class="delete-comment-button" title="Delete">
                                    &#x1F5D1; <!-- Unicode for trash bin -->
                                </button>
                            </form>
                        }
                    </div>
                }
            </div>
        </aside>
    </div>
</body>


